<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Weekday Wisdom</title>
</head>
<body>
    <h1>Hey, it's <%= dayType %>, <%= advice %></h1>
    <p>Current Date: <%= currentDate %></p>
    <p>Current Time: <%= currentTime %></p>
<footer>
<p>Made with <span style="color: red;">❤️</span> by Burak</p>
</footer>
</body>
</html>