body, h1, p, footer {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 36px;
  color: #333;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #666;
  margin: 10px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  font-size: 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  footer {
    font-size: 16px;
  }
}
